// Custom styles.
h2, h3, h4, h5, h6 {
      font-size: 22px;
      line-height: 40px;
      font-weight: bolder;
    }

h1 {
      font-size: 24px;
      line-height: 40px;
      font-weight: bolder;
    }

.site-title, .site-author-name {
	  font-family: "Algerian", "Microsoft YaHei";
	  font-weight: bolder;
}

.site-title {
		  font-size: 34px;
}